* {
  margin: 0;
  padding: 0;
}


body{
  background-color: #9b6c50;
  margin-left: 30px;
  margin-right: 30px;
}

/*SECAO 1 */

.secao1 {
  max-width: 1200px;  /* Largura máxima da seção */
  margin: 0 auto;  /* Centraliza a seção na página */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  /* Sombra suave para destacar a seção */
  border-radius: 5px;
  display: flex;  /*flexbox para organizar os itens lado a lado */
  background-color: #af5227b2;
  padding: 10px;
  margin-bottom: 2em;
  font-size: 20px;
  color: rgb(0, 0, 0); /* Cor do texto */
  line-height: 1.5;

}

.texto {
  flex: 1;
  /* Ocupa o espaço restante */
  padding-right: 20px;
  /* Espaçamento à direita para separar da imagem */
  align-self: center;
  padding-left: 2em;
}
h1{
  text-align: center;
  font-size: 45px;
}

.texto h2 {
  line-height: 2em;
  margin-bottom: 2em;
  text-align: center;
  font-size: 30px;
  margin: 30px;
  font-size: 36px; /* Tamanho da fonte */
  color: rgb(0, 0, 0); /* Cor do texto */
}

.texto p {
  line-height: 2em;
  margin-top: 1em;
}

.imagem {
  flex: 1;  /* Ocupa o espaço restante */
  text-align: center;  /* Centraliza a imagem horizontalmente */
}

.imagem img {
  max-width: 100%;  /* Garante que a imagem não ultrapasse seu contêiner */
  height: auto;  /* Mantém a proporção da imagem */
  border-radius: 8px;  /* Borda arredondada para a imagem */
}


h3{
  text-align: center;
  font-size: 35px;
}


/*seções comuns ou seção 1*/

/*rodapé*/
.rodape {}