* {
  margin: 0;
  padding: 0;
}

:root {
  --verde-fundo: ;
  --fonte-principal: "Lustria";
  --verde-principal: ;
  --azul-principal: ;
  --verde-secundario: ;
  --link: #0a4804;
}


section {
  font-size: 20px;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px; /* Adiciona uma margem embaixo do título */
}
 h2{
   text-align: center;
 }

/*seções comuns ou seção 1*/
.secao1 {}


/*rodapé*/
.rodape {}