* {
  margin: 0;
  padding: 0;
}

/*SECAO 1 */
.secao1 {
  font-size: 20px;
  color: rgb(0, 0, 0); /* Cor do texto */
  width: 70%;
}

.secao1 h2{
  margin-bottom: 25px;
}


h1 {
  text-align: left;
  font-size: 30px;
  margin-bottom: 60px; /* Adiciona uma margem embaixo do título */
  margin: 30px;
  font-size: 36px; /* Tamanho da fonte */
  color: rgb(0, 0, 0); /* Cor do texto */
  -webkit-text-stroke: 1px black; /* Borda preta de 1 pixel para navegadores WebKit */
  text-stroke: 1px black; /* Borda preta de 1 pixel */
}



/*seções comuns ou seção 1*/
.secao1 {}


/*rodapé*/
.rodape {}